<div class="row">
	<div class="col-sm-12">
		{{#with issue}}
			<h1>{{{name}}}</h1>
			<p>Please confirm that you wish to delete this issue</p>

			<form class="form-horizontal" action="/issues/{{{id}}}" method="DELETE">
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-danger">Delete</button>
						<a href="/issues/{{{id}}}" class="btn btn-link">Cancel</a>
					</div>
				</div>
			</form>
		{{/with}}
	</div>
</div>
